<main>
    <div id="login">
       
        <h1>Login</h1>
        <div id="username-form"> 
            <p>Username</p>
            <input type="text" class="form-control" [(ngModel)] = "user.email">
        </div>
        <div id="password-form">
            <p>Password</p>
            <input type="password" class="form-control" [(ngModel)] = "user.password">
        </div>
        <button type="submit" (click)="login(user)">Submit</button>
        <hr>
        <p>OR</p>

        <button type="submit">Register</button>

    </div>
</main>
